/* For GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Arial, sans-serif;
}

body {
  background:#010048;
  padding: 40px;
  color: white;
}

/* PAGE LAYOUT */
.page {
  max-width: 1200px;
  margin: 0 auto;
}

.h1extension{
  /* margin-top: 10px; */
  /* display: flex; */
  gap: 12px;
  /* margin-bottom: 25px; */
  /* justify-content: left; */

}


/* FILTER BUTTONS */
.filter-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  justify-content: right;

}

.filter-buttons button {
  padding: 10px 18px;
  border-radius: 20px;
  border: 0.5px solid white;
  background: #1F2535;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 15px;
}

.filter-buttons button:hover {
  background: #f94449;
  color: #1F2535;
  border-color: #f94449;
}

.filter-buttons button.active {
  background: #1F2535;
  color: white;
  border-color: white;
 
}

/* CARD GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 3px;
}



.card:hover {

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}


.card-logo {
  width: 60px;      
  height: 60px;     
  object-fit: contain;
  margin-bottom: 10px;
} 

.card h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  white-space: normal;
  word-wrap: break-word;
}

.card p {
  font-size: 14px;
  color: #e4e4e4;
  line-height: 1.4;
}

/* LABEL */
label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
}

/* REMOVE BUTTON */
button.remove-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background: #1F2535;
  color: white;
  border: 0.5px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 14px;
  width: 100px;      /* makes button shorter */
  padding: 10px 10px; 
}

button.remove-btn:hover {
  background: #f94449;
  color: #1F2535;
  border-color: #f94449;
}

.toggle-container{
  margin-left: auto; 
  
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between; /* or "flex-start" makes cards side-by-side */
  
} 

/* ----------------------------------- */

.card-content {
  display: flex;
  align-items: center;
  gap: 16px;
}


.card {
  background: #1F2535;               /* dark background */
  color: white;                       /* text color */
  padding: 20px;                      /* inner spacing */
  border-radius: 14px;                /* rounded corners */
  border: 0.1px solid white;            /* white border */
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 370px;   
  margin: 8px;  
  margin-left: 1px;

         
}

nav{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
} 

